/target/
/target/classes/
/target/generated-sources/
/target/maven-archiver/
/target/maven-status/
/target/original-PlayerEssentials-1.0.jar
/target/PlayerEssentials-1.0.jar
/target/PlayerEssentials-1.0-shaded.jar
/.idea/
/EssentialsPaper/target/
